// fontes
$fonte-principal: 'Roboto', sans-serif;
$fonte-titulo:'Playfair Display', serif;;
// cores

$cor-principal: #EDE9D5;
$cor-texto: #519872;
$cor-terciaria:#A4B494;
$cor-preta: #000000;
$cor-verde-h4:#1e551efa; 

// textos

$tamanho-do-texto: 3rem;

